::-webkit-scrollbar { 
    display: none; 
}

.App {
  text-align: center;
  height: 100vh;
}
a {
  color: black !important;
  text-decoration: underline;
}

.miniProject {
  height: 160px;
  margin: 10px
}

.fullProject {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 100%
}

.fullProject img {
  box-shadow: 5px 5px 5px black;
}

button {
  border: none;
  background: none;
}
.projectHeader{
  height: 60px;
  border: 1px solid;
  border-radius: 50px;
}

.projectHeader h2{
  margin: 0px;
  padding-top: 10px;
}
.toggleArrow {
  float: left;
}



hr {
  display: inline-block;
  color: black;
}
.projectList{
  position: relative;
}

body {
  height: 100vh;
  padding-left: 10vh;
  padding-right: 10vh;
}
iframe {
  margin: 60px;
  box-shadow: 5px 5px 5px black;
}
.abbrevCircle {
    margin-bottom: 50px;
    clear: left;
    border-radius: 50px;
    position: relative;
    top: 0px;
    left:0px;
    width: 60px;
    height: 60px;
    padding-top: 10px;
    z-index: 100;
    background-color: black;
    color: pink;
    float: left;
    text-align: center;

    font: 32px Arial, sans-serif;

}

.socialPanel {
  padding: 5px;
  border: 1px solid lightpink;
  box-shadow: 5px 5px 5px pink;
  margin: 5px;
  border-radius: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.biopic {
  float: left;
  width: 150px;
  height: auto;
}
#header h1 {
  font-family: 'Homemade Apple', cursive;
  font-size: 5em;
  height: 20vh;
  margin: 30px;
}

#headerimage {
  width: 30%;
  height: auto;
}
.sectionHead {
  text-align: left;
  border-bottom: 1px solid;
}
#body {  
  padding-left: 20vh;
  padding-right: 20vh;
  overflow: scroll;
  height: 83vh;
}

.iFrame {
  height: 250px
}
#videos iframe {

  height: 100%;
}

#videos {
  padding-bottom: 75px;
}
#header ul{

  border-bottom: 1px solid;
  border-top: 1px solid;
}

.pad100 {
  padding-left: 100px;
}

#links {
  position: sticky;
  box-shadow: 5px 5px 5px black;

}
#links li{
  list-style: none;
  display: inline-block;
  margin: 10px;
}

.projectHeader {
  box-shadow: 5px 5px 5px black;
  margin-bottom: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon{
  height: 30px;
  width: 30px;
}